.sharing{
  padding: 0 60px 80px;

  @media (max-width: 767px) {
    padding: 40px 15px 80px;
  }

  .sharing__container{
    display: flex;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 150px;
    position: relative;
    width: 100%;
    max-width: 1280px;
    border-radius: 16px;
    margin:80px auto 0;
    &::before{
      content: "";
      background: url(../../../public/shape-1.svg) no-repeat;
      position: absolute;
      left: -40px;
      top: -50px;
      width: 889px;
      height: 215px;
      z-index: -1;
      @media (max-width:975px) {
        width: 170px;
        height: 195px;
        top: -120px;
      }
    }
    @media (max-width:975px) {
      flex-direction: column;
      margin-bottom: 100px;
    }
    .title{
      max-width: 460px;
      @media (max-width:768px) {
        width: 345px;
        margin-bottom: 30px;
      }
    }
    .links__container{
      display: flex;
      flex-wrap: wrap;
      width: 48%;
      margin-left: auto;
      flex-direction: column;
      align-items: flex-start;
      height: 430px;
      @media (max-width:975px) {
        flex-direction: column;
        height: auto;
      }
      @media (max-width:767px) {
        margin-right: auto;
      }
      @media (max-width:399px) {
        margin:0;
      }
      .link_block{
        padding: 30px 0 0 26px;
        border-radius: 16px;
        border: solid 1px #eeeeee;
        text-decoration: none;
        &:hover{
          .link__title{
            text-decoration: underline;
          }
        }
        &:nth-child(1){
          width: 260px;
          height: 220px;
          margin: 0 40px 40px auto;
          .link__title{
            margin: 74px 0 0;
          }
          @media (max-width:975px) {
            order: 1;
            margin: 0 0 50px;
          }
        }
        &:nth-child(2){
          width: 260px;
          height: 170px;
          margin-right: 60px;
          margin-bottom: 40px;
          .link__title{
            margin: 42px 0 0;
          }
          @media (max-width:975px) {
            order: 2;
            margin: 0 0 50px 85px;
          }
        }
        &:nth-child(3){
          width: 260px;
          height: 220px;
          margin-right: 60px;
          .link__title{
            margin: 90px 0 0;
          }
          @media (max-width:975px) {
            order: 3;
            margin: 0 0 50px;
          }
        }
        .icon{
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        .link__title{
          white-space: pre-wrap;
          color: #1b2235;
          letter-spacing: 2.67px;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: start;
        }
      }
    }
  }
}