.whyLoveUs {
  margin-top: 150px;
  padding: 0 60px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
  .whyLoveUs__container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    .title {
      margin-bottom: 60px;
      width: 560px;
      @media (max-width:767px) {
        margin:auto;
        width: 345px;
        font-size: 30px;
        line-height: 1.47;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;

      @media (max-width: 859px) {
        justify-content: center;
      }
    }
  }
}