.langCard {
  width: 360px;
  min-width: 300px;
  white-space: pre-line;
  padding: 30px 30px 0;
  background-color: #fff;
  margin-bottom: 24px;
  min-height: 504px;
  border-radius: 16px;
  box-shadow: 0 15px 66px #0000000a;
  &:not(:first-child){
    margin-left: 24px;
  }
  .title {
    margin-bottom: 24px;

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 24px;
      background: #fdd495;
      position: relative;
      float: left;
      margin-left: -24px;
    }
  }

  .parag {}

  &:nth-child(1) {
    .title {
      &::before {
        background: #fdd495;
      }
    }
  }
  &:nth-child(2) {
    .title {
      &::before {
        background: #fd959c;;
      }
    }
  }
  &:nth-child(3) {
    .title {
      &::before {
        background: #77c3d1;
      }
    }
  }
}